<div [class.hidden]="gameInitialized">



  <label>Имя:
    <input [(ngModel)]="playerName" placeholder="твоё имя" />
  </label>
  <button (click)="initialize()">Начать</button>
</div>

<div (click)="onClick()" [class.hidden]="!gameInitialized">
  <img class="location" src="./assets/{{currentSlide.background}}" />
  <div class="scene" [class.player]="isPlayerActor">
    <img class="actor" src="./assets/{{currentSlide.actorImg}}" />
    <div class="actorName">
      {{actorName}}:
    </div>
    <div class="message">
      {{currentSlide.message}}
    </div>
    <ul class="choices">
      <li *ngFor="let choice of currentSlide.choices" (click)="onSelect(choice, $event)">
        {{choice.text}}
      </li>
    </ul>
  </div>
</div>